.buttonA {
    color: white;
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 32px 20px 82px;
    position: relative;
    text-decoration: none;
    transition-duration: 1s;
}

.buttonWhite {
    background-color: white;
    color: black;
    transition-duration: 1s;
}

.buttonBlack {
    background-color: black;
    color: white;
}

.buttonA:hover {
    background: #1596e7;
}

.buttonWhite:hover  {
    transition-duration: 1s;
    color: white;
}

.buttonA .buttonLabel,
.buttonA .iconArrowBefore, .buttonA .iconArrowAfter {
    backface-visibility: hidden;
    transform: translateZ(0);
}

.buttonA .buttonLabel {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.buttonA .iconArrowBefore, .buttonA .iconArrowAfter {
    font-size: 35px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.buttonA .iconArrowBefore {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

.buttonA .iconArrowAfter {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

.buttonA:hover .buttonLabel {
    transform: translateX(-52px);
}

.buttonA:hover .iconArrowBefore {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

.buttonA:hover .iconArrowAfter {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

.buttonA:active {
    border-color: #FD6154;
    color: #FD6154;
}

.buttonA:active .icon-arrow {
    fill: #FD6154;
}