.list {

}

.listMap {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.listItem {
    border-radius: 10px;
    padding: 0.8rem 3rem;
    background-color: #f4f3f6;
    flex: 1 0 40%;
    display: flex;
}


@media only screen and (max-width: 1040px) {
    .list h1 {
        text-align: center;
        font-size: 2rem;
    }
    .listItem {
        text-align: center;
        width: auto;
        padding: 0.8rem 0.3rem;
        flex: 1 0 100%;
    }
    .listItem h3 {
        width: 100%;
        margin: 0.5rem;
    }
}