.ui {
    width: 100%;
    height: 100%;
}

.aboutImageText {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 0.7s all ease-in-out;
    top: 0;
    left: 0;
    z-index: -10;
}

.aboutImageText:hover .image {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-duration: 1s;
}

.text h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 43%;
    margin: auto;
    width: fit-content; /* Need a specific value to work */
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.text h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s;
}


.liferayOverview {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem;
}

.liferayOverviewText {
    width: 55%;
}

.liferayOverviewText h1 {
    text-align: center;
}

.liferayOverviewText p {
    color: #414141;
}

.liferayImg {
    height: 85%;
    width: 35%;
}

.uiPhoto {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
}

.uiImg {
    width: 90%;
    margin-bottom: 4rem;
}

.line {
    width: 100%;
    border-top: 2px solid #605f5f;
    margin: 0 12rem 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 8rem;
}

.overviewPart {
    width: 100%;
    display: flex;
    gap: 15%;
    justify-content: space-between;
    padding: 3rem 0;
}


@media only screen and (max-width: 1040px) {
    .aboutImageText {
        height: 80vh;
    }

    .aboutImageText img {
        object-fit: cover;
    }

    .text h1 {
        top: 35%;
        text-align: center;
        padding: 0 1rem;
        font-size: 1.8rem;
    }

    .liferayOverview, .liferayOverview2, .solutions {
        height: auto;
        flex-direction: column;
        width: auto;
        padding: 3rem 5%;
    }

    .liferayOverviewText, .liferayOverviewText2, .liferayOverview2 {
        width: auto;
    }

    .liferayOverviewText, .liferayOverviewText2, .liferayOverviewText22 {
        width: 100%;
    }

    .liferayImg {
        width: 100%;
    }

    .services {
        width: 100%;
    }
    .overviewPart {
        flex-direction: column;
        width: auto;
        padding: 3rem 5%;
    }
    .overviewPart2 {
        width: 100%;
        margin-bottom: 5rem;
    }
    .overviewPart2H {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    .imagePart {
        width: 100%;
    }
    .line {
        width: 100%;
    }
    .uiPhoto h1 {
        font-size: 2rem;
        text-align: center;
    }
    .uiPhoto, .list {
        width: auto;
        padding: 3rem 5%;
    }
}