.privacy {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aboutImageText {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 0.7s all ease-in-out;
    top: 0;
    left: 0;
    z-index: -10;
}

.aboutImageText:hover .image {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-duration: 1s;
}

.text h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 43%;
    margin: auto;
    width: fit-content; /* Need a specific value to work */
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.text h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s;
}

.process {
    max-width: 100%;
    padding: 4rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.line {
    width: auto;
    border-top: 2px solid #605f5f;
    margin: 3rem 6rem 0;
}

.liferayOverview {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem 0;
}

.liferayOverviewText {
    width: 45%;
}

.liferayOverviewText h1 {
    text-align: center;
}

.liferayOverviewText p {
    color: #414141;
}

.liferayImg {
    height: 65%;
    width: 45%;
}

.policy {
    max-width: 100%;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.warning {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 80px;
    color: white;
    padding: 0 5rem;
    text-align: center;
}

.warning p {
    font-size: 0.9rem;
}

.warning a {
    color: orange;
    text-decoration: none;
}

@media only screen and (max-width: 1040px) {
    .policy {
        width: 90%;
        overflow-y: scroll;
        padding: 0 3%;
        margin: 2rem 2%;
    }

    .aboutImageText {
        height: 80vh;
    }

    .aboutImageText img {
        object-fit: cover;
    }

    .text h1 {
        top: 35%;
        text-align: center;
        padding: 0 1rem;
        font-size: 1.8rem;
    }
    .overviewPart, .process, .hire {
        flex-direction: column;
        width: auto;
        padding: 3rem 5%;
    }
    .liferayOverview, .liferayOverview2, .solutions {
        height: auto;
        flex-direction: column;
        width: auto;
        padding: 3rem 5%;
    }

    .liferayOverviewText, .liferayOverviewText2, .liferayOverview2 {
        width: auto;
    }

    .liferayOverviewText, .liferayOverviewText2, .liferayOverviewText22 {
        width: 100%;
    }

    .liferayImg {
        width: 100%;
    }
}